.pokemon-card {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 300px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .pokemon-info {
    background-color: #b6f7b0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
 }
 
 
 .pokemon-name {
    font-family: Verdana, sans-serif;
    color: #2a4d14;
    font-size: 24px;
 }
 
 
 .pokemon-type {
    margin-bottom: 10px;
 }
 
 
 .pokemon-type.plant {
    color: green;
 }
 
 
 .pokemon-type.poison {
    color: purple;
 }
 
 
 .pokemon-description {
    font-size: 14px;
    color: #666;
 }
 